# Dépendances
node_modules
__pycache__

# Logs
*.log

# Env
.env
*.env

# Versioning
.git
.gitignore

# DB et fichiers temporaires
*.db
*.sqlite
*.csv

# Tests et docs
/tests/
/docs/

# Archives
*.tar.gz
*.zip

# Images
*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db
