# Dépendances
node_modules/

# Builds
build/
dist/
coverage/

# Env
.env
*.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Versioning
.git
.gitignore

# Editeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
